/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

#site-logo {
  width: 48px;
  height: 48px;
  padding: 5px 0;
}

.site-switch-theme {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 27px;
    float: right;
    .site-switch-theme input {
        display: none;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    input:checked+.slider {
        background-color: #2196F3;
    }
    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.footer-links {
  text-align: center;
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding-top: $spacing-unit;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/*********************************
* DARK
**********************************/
html.dark {
    /**
    * Site header
    */
    .site-header {
        border-bottom: 1px solid #5c6773;
        min-height: 56px;

        // Positioning context for the mobile navigation icon
        position: relative;
    }

    #site-logo {
    width: 48px;
    height: 48px;
    padding: 5px 0;
    filter: invert(100%);
    }

    .site-title {
        font-size: 26px;
        line-height: 56px;
        letter-spacing: -1px;
        margin-bottom: 0;
        float: left;
        
        &,
        &:visited {
            color: #fff;
        }
    }

    .site-nav {
        float: right;
        line-height: 56px;

        .menu-icon {
            display: none;
        }

        .page-link {
            color: $text-color;
            line-height: $base-line-height;

            // Gaps between nav items, but not on the first one
            &:not(:first-child) {
                margin-left: 20px;
            }
        }

        @include media-query($on-palm) {
            position: absolute;
            top: 9px;
            right: 30px;
            background-color: $background-color;
            border: 1px solid $grey-color-light;
            border-radius: 5px;
            text-align: right;

            .menu-icon {
                display: block;
                float: right;
                width: 36px;
                height: 26px;
                line-height: 0;
                padding-top: 10px;
                text-align: center;

                > svg {
                    width: 18px;
                    height: 15px;

                    path {
                        fill: $grey-color-dark;
                    }
                }
            }

            .trigger {
                clear: both;
                display: none;
            }

            &:hover .trigger {
                display: block;
                padding-bottom: 5px;
            }

            .page-link {
                display: block;
                padding: 5px 10px;
            }
        }
    }



    /**
    * Site footer
    */
    .site-footer {
    // border-top: 1px solid $grey-color-light;
        border-top: 1px solid #5c6773;
        padding: $spacing-unit 0;
    }

    .footer-heading {
        font-size: 18px;
        margin-bottom: $spacing-unit / 2;
    }

    .footer-links {
    text-align: center;
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
    }

    .contact-list,
    .social-media-list {
        list-style: none;
        margin-left: 0;
    }

    .footer-col-wrapper {
        font-size: 15px;
        color: $grey-color;
        margin-left: -$spacing-unit / 2;
        @extend %clearfix;
    }

    .footer-col {
        float: left;
        margin-bottom: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }

    .footer-col-1 {
        width: -webkit-calc(35% - (#{$spacing-unit} / 2));
        width:         calc(35% - (#{$spacing-unit} / 2));
    }

    .footer-col-2 {
        width: -webkit-calc(20% - (#{$spacing-unit} / 2));
        width:         calc(20% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(45% - (#{$spacing-unit} / 2));
        width:         calc(45% - (#{$spacing-unit} / 2));
    }

    @include media-query($on-laptop) {
        .footer-col-1,
        .footer-col-2 {
            width: -webkit-calc(50% - (#{$spacing-unit} / 2));
            width:         calc(50% - (#{$spacing-unit} / 2));
        }

        .footer-col-3 {
            width: -webkit-calc(100% - (#{$spacing-unit} / 2));
            width:         calc(100% - (#{$spacing-unit} / 2));
        }
    }

    @include media-query($on-palm) {
        .footer-col {
            float: none;
            width: -webkit-calc(100% - (#{$spacing-unit} / 2));
            width:         calc(100% - (#{$spacing-unit} / 2));
        }
    }



    /**
    * Page content
    */
    .page-content {
        padding-top: $spacing-unit;
    }

    .page-heading {
        font-size: 20px;
    }

    .post-list {
        margin-left: 0;
        list-style: none;

        > li {
            margin-bottom: $spacing-unit;
        }
    }

    .post-meta {
        font-size: $small-font-size;
        color: $grey-color;
    }

    .post-link {
        display: block;
        font-size: 24px;
    }



    /**
    * Posts
    */
    .post-header {
        margin-bottom: $spacing-unit;
    }

    .post-title {
        font-size: 42px;
        letter-spacing: -1px;
        line-height: 1;

        @include media-query($on-laptop) {
            font-size: 36px;
        }
    }

    .post-content {
        margin-bottom: $spacing-unit;

        h2 {
            font-size: 32px;

            @include media-query($on-laptop) {
                font-size: 28px;
            }
        }

        h3 {
            font-size: 26px;

            @include media-query($on-laptop) {
                font-size: 22px;
            }
        }

        h4 {
            font-size: 20px;

            @include media-query($on-laptop) {
                font-size: 18px;
            }
        }
    }
}
